doctype html
html(lang='en')
  head
    title PRV
    meta(charset='utf8')
    meta(name='robots', content='noindex, nofollow')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      setTimeout(function(){location.reload()}, 60*1000);

  body

    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='/') Pull Request Viewer
          div.pull-right.profile
            img(src=profile._json.avatar_url)
            = profile.displayName

    div.container

      table.table.table-bordered

        thead
          tr
            th Number
            th Title
            th Submitter
            th Reviewers
            th Review Status
            th Comments
            th Last Update
            th Branch
            th Build Status

        tbody
          for pull in pulls
            tr(class="pullrequest "+pull.class)
              td: a(href=pull.html_url) ##{ pull.number }
              td= pull.displayTitle
              td
                - var u = pull.submitter
                img(src=u.avatar, title=u.username)
              td
                if pull.anyReviewer
                  span.label.label-info Anybody
                else
                  for reviewer in pull.reviewers
                    if reviewer.avatar
                      - var u = reviewer
                      img(src=u.avatar, title=u.username)
                    else
                      span= reviewer.username
              td
                span(class="label label-"+pull.reviewStatusClass)= pull.reviewStatus
              td= pull.num_comments
              td.nowrap
                if pull.last_user
                  - var u = pull.last_user
                  img(src=u.avatar, title=u.username)
                  = last_update_string
              td
                code= pull.head.ref
              td
                span(class="label label-"+pull.buildStatusClass)= pull.buildStatus

      div.muted
        | Showing open pull requests from:
        for repo in settings.github.repos
          a.muted(href="https://github.com/"+repo.user+"/"+repo.repo)
            &nbsp;
            | #{ repo.user }/#{ repo.repo }
        br
        | Approximate GitHub API calls remaining: #{ rateLimitRemaining }
        br
        | Pull Requests older than one month are hidden.
